# API
NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/payroll_panama
JWT_SECRET=change-this-to-a-random-string-with-at-least-32-characters
WEB_URL=http://localhost:4321

# Web
PUBLIC_API_URL=http://localhost:3000
